.container {
    box-sizing: border-box;
    margin: 16px 0px;
}

.selectedPoint {
    fill: #5e0b77;
}

.nonSelectedPoint {
    fill: #666666;
}

.circleLine {
    z-index: 1;
}

text {
    font-family: 'GothamProBold';
    font-size: 25px;
}

.circlesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.circlesText {
    margin: 20px;
    font-size: 18px;
    font-family: Roboto,sans-serif;
}