.question {
    min-height: 80vh;
}

.question-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-number {
    font-size: 60px;
    color: #999;
    line-height: 65px;
    margin-right: 10px;
    font-weight: 900;
}

.question-title {
    color: #5e0b77;
    text-align: center;
    font-size: 20px;
    padding: 16px;
    font-family: 'GolosTextBold', sans-serif;
}

.question-prev,
.question-next {
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.question-body {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-arrows {
    position: fixed;
    top: 90%;
    padding: 10px 30px;
    background: #00926f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.question-footer {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.question-link {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    background: #e2e2e2;
    color: #999;

    border-radius: 100%;

    margin: 4px;

    font-size: 30px;
}

.question-link:hover {
    text-decoration: none;
}

.body-container {
    width: 100%;
}

.body-container input[type="text"],
input[type="email"] {
    width: 100%;
}

label {
    padding-left: 4px;
}

.question-prev,
.question-next {
    cursor: pointer;
}

.selected {
    background: #00926f;
    color: #fff;
}

.error-container {
    display: flex;
    justify-content: center;
}

.error-text {
    font-family: 'GolosTextBold', sans-serif;
    color: crimson;
}