.container {
    width: 100%;
    padding: 10px;
}

.list {
    padding: 16px;
    margin: 16px;
}

.selectedPoint {
    fill: #5e0b77;
}

.nonSelectedPoint {
    fill: #666666;
}

.circleLine {
    z-index: 1;
}